@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.stepper-overrides((
    container-color: mat.$m2-white-6-opacity,
    header-icon-foreground-color: orange,
    header-selected-state-icon-background-color: red,
  ));
}
