<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-stats-user-info">
    Welcome back {{ userFullName }}!
  </div>

  <button mat-flat-button class="btn-grad" *ngIf="!isAuthenticated" routerLink="/login"
  >Login
  </button>

  <button mat-flat-button class="btn-grad" *ngIf="isAuthenticated" (click)="logout()"
  >Logout
  </button>

  <button mat-flat-button class="btn-grad" *ngIf="isAuthenticated" routerLink="/members"
  >User panel
  </button>

  <button mat-flat-button class="btn-grad" *ngIf="isAuthenticated" routerLink="/orders-history"
  >Orders
  </button>
</div>
