<header>
  <div class="logo"></div>
</header>
<nav>
  <app-nav-menu></app-nav-menu>
</nav>
<main>
  <!--  <div class="sidebar">
      <app-main-parts-menu></app-main-parts-menu>
    </div>-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="text-center text-lg-start bg-light text-muted">
  <ul>
    <li>
      <!-- Facebook -->
      <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
      ><i class="fab fa-facebook-f fa-2x"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
      ><i class="fab fa-twitter fa-2x"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"
      ><i class="fab fa-google fa-2x"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
      ><i class="fab fa-instagram fa-2x"></i
      ></a>


      <!-- Whatsapp -->
      <a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
      ><i class="fab fa-whatsapp fa-2x"></i
      ></a>

    </li>
    <li>Contact us</li>
    <li>Information about us</li>
  </ul>


</footer>
