<ul>

  <li>
    <a routerLink="mainPartCategory/1"
       routerLinkActive="active-link">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
    </a>
  </li>

  <li>
    <app-main-parts-menu></app-main-parts-menu>
  </li>

  <li>
    <button mat-button routerLink="/searchByCarBrand"
            routerLinkActive="active-link">Search parts by car brand
    </button>
  </li>

  <li>
    <button mat-button routerLink="/parts"
            routerLinkActive="active-link">Show all parts
    </button>
  </li>

  <li>
    <app-cart-status></app-cart-status>
  </li>

  <li>
    <app-login-status></app-login-status>
  </li>

</ul>





