<section class="content-grid">
  <div class="container">
    <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile *ngFor="let tempPart of parts" class="box-tile">
        <div class="box-content">

          <a routerLink="/partDetails/{{tempPart.id}}" routerLinkActive="active-link">
            {{ tempPart.partDescription }}
          </a>

        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="parts.length == 0" class="alert alert-warning" role="alert">
      No part available for selected car part.
    </div>
    <br>
    <mat-paginator
      (page)="onPageChanged($event)"
      [length]="theTotalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[5, 10, 15,20]
      " aria-label="Select page">,
    </mat-paginator>

  </div>

</section>
