@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@fortawesome/fontawesome-free/css/all.css'; /* You can add global styles to this file, and also import other style files */

body {
  font-family: "Times New Roman", Times, serif;


  min-height: 100vh;
  display: flex;

  margin:0 auto;

  flex-direction: column;
  background-color: #ffffff;

}

header{

  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}


nav {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);


  list-style: none;
  border: #2d2c2c 1px solid;
}


nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  border: #2c2f2c 1px solid;

}

footer {
  text-align: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;

}

footer ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.box-tile {
  background: #69b9fa; /* Default box background */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;

}

.box-content {
  padding: 10px;
}

.box-tile:hover {
  background: #1976d2; /* Darker color on hover */
  cursor: pointer;
}

.container{
  margin: 50px ;
}


.logo {
  background-image: url("assets/images/logo.png");
  width: 100px;
  height: 75px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body { height: 100%; }



.empty-cart-message {
  text-align: center;
  color: gray;
  font-size: 1.2rem;
  margin-top: 20px;
}

.cart-details-bottom{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  text-align: center;
  justify-content: space-evenly;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
