<section class="content-grid">
  <div class="container">
    <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile *ngFor="let tempCarBrand of carBrands" class="box-tile">
        <div class="box-content">
          <a routerLink="/carModel/{{tempCarBrand.id}}" routerLinkActive="active-link">
            {{ tempCarBrand.brandName }}
          </a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator
      (page)="onPageChanged($event)"
      [length]="theTotalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[5, 10, 15,20]
      "aria-label="Select page">,
    </mat-paginator>

  </div>
</section>
